apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: kujtimpllana/mern-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: node-mongo-secret
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: node-mongo-secret
                  key: DB_PASS
            - name: MONGO_DB_SERVER
              valueFrom:
                configMapKeyRef:
                  name: node-mongo-config
                  key: MONGO_DB_SERVER
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: node-mongo-config
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: node-mongo-config
                  key: DB_NAME

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
